<?php
    $fields = $this->getForm();
    $url = $this->getLiisiUrl();
?>
<script>
	Event.observe(this, 'load', function() { document.liisi_form.submit(); });
</script>
<form method="POST" name="liisi_form" action="<?php echo $url; ?>" target="_self">
    <?php foreach ($fields as $name => $value): ?>
        <input type="hidden" name="<?php echo $name; ?>" value="<?php echo $value; ?>"/>
    <?php endforeach ?>
    <input type="submit" value="<?php echo $this->__('Submit'); ?>"/>
</form>
